@page "/snake"
@rendermode InteractiveServer
@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@using System.Diagnostics
@using System.Security.Cryptography
@using GUI.Components.Controllers
@using GUI.Components.Models
@using Microsoft.AspNetCore.Hosting.Server.Features
@inject IJSRuntime JsRuntime;


<PageTitle> Snake </PageTitle>

<img @ref="backgroundImage" id="bgImage" src="images/images/grass.jpg" alt="image" style="display:none;" />
<img @ref="wallImage"  src="images/images/WallSprite.png" alt="image" style="display:none;" />
<img @ref="powerImage"  src="images/images/powerup.png" alt="image" style="display:none;" />
<img @ref="explosionImage"  src="images/images/explosion.png" alt="image" style="display:none;" />

<div class="tool-box">
    <label >Name</label>
    <input @bind="_playerName" maxlength="16"  placeholder="Type your name here"/>

    <labe>Server address</labe>
    <input @bind="_serverAddress" placeholder="Server address"/>

    <labe>Server port</labe>
    <input @bind="_port" placeholder="Server port"/>

    <button @onclick="Connect" disabled="@_controller.IsConnected">Connect</button>
    
    <button @onclick="Disconnect">Disconnect</button>
    
    <div @bind="_message" ></div>
</div>


<div id="snakeCanvas" style="position: fixed; width: 100%; height: 100%">
    <BECanvas Width="1000" Height="1000" @ref="_canvasReference"></BECanvas>
</div>


@code
{
    private BECanvasComponent? _canvasReference;
    private Canvas2DContext? _context;
    private IJSObjectReference? _jsModule;

    private NetworkController _controller = new NetworkController();

    private string _playerName = "a";
    private string _serverAddress = "localhost";
    private int _port = 11000;
    private string _message;


    private World _world = new World();

    private string[] colors =
    {
        "red",
        "blue",
        "green",
        "yellow",
        "purple",
        "cyan",
        "orange",
        "pink",
        "lime",
        "magenta"
    };


    private ElementReference backgroundImage;

    private ElementReference wallImage;

    private ElementReference powerImage;

    private ElementReference explosionImage;

    private int ViewWidth = 1000;
    private const int ViewHeight = 1000;

    private void Connect()
    {
        new Thread(() => _controller.Connect(_serverAddress, _port, _playerName, _world)).Start();
    }

    private void Disconnect()
    {
        _controller.Disconnect(_world);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/SnakeGUI.razor.js");
            _context = await _canvasReference.CreateCanvas2DAsync();
            await JsRuntime.InvokeAsync<object>("initRenderJS", DotNetObjectReference.Create(this));
            
            // TODO: Start the game loop
            _ = GameLoop();

            // in the meantime, draw something to initialize the canvas
            // you may want to remove this after you are drawing something
            //await _context.SetFillStyleAsync( "lightblue" );
            //await _context.FillRectAsync( 0, 0, 1000, 1000 );
        }
    }

    //
    private async Task GameLoop()
    {
        while (true)
        {
            await Task.Delay(20);
            await DrawFrame();
        }
    }

    private async Task DrawFrame() // Dealing with the old world
    {


        await _context.SetFillStyleAsync("lightblue");

        await _context.BeginBatchAsync();
        await _context.FillRectAsync(0, 0, 1000, 1000);


        // Console.WriteLine("Check Draw", _world);
        World temp;
        lock (_world)
        {
            temp = new World(_world);
        }

        try
        {
            if (_controller.IsConnected && _world.Players.Count != 0)
            {
                await _context.BeginPathAsync();

                await _context.RectAsync(0, 0, ViewWidth, ViewHeight);
                await _context.ClipAsync();

                // Because we are modifying the transformation matrix, we need to save it so we can restore it at the end
                await _context.SaveAsync();


                // Center on origin, move to center of view port
                await _context.TranslateAsync(ViewWidth / 2, ViewHeight / 2);
                await _context.TranslateAsync(-temp.GetSnakeHead().X, -temp.GetSnakeHead().Y);

                // Draw the background:
                await _context.DrawImageAsync(backgroundImage, -temp.Width / 2, -temp.Height / 2, temp.Width, temp.Height);

                foreach (Wall wall in temp.Walls.Values)
                {
                    await DrawWall(wall); // await to wait for it to finish 
                }

                foreach (Player player in temp.Players.Values)
                {
                    await DrawPlayer(player);
                }

                foreach (Powerup powerup in temp.Powerups.Values)
                {
                    await DrawPowerup(powerup);
                }

                foreach (Point2D deathPosition in temp.DeathPositions.Values)
                {
                    await DrawExplosion(deathPosition);
                }
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }

        await _context.RestoreAsync();

        await _context.EndBatchAsync();
        StateHasChanged();


    }


    private async Task DrawPlayer(Player player)
    {
        
        if (_context is null || player.Body.Count == 0 || !player.Alive)
        {
            return;
        }

        
        await _context.SetLineJoinAsync(LineJoin.Round);

        //Set the tail of the snake to be rounded
        await _context.SetLineCapAsync(LineCap.Round);


        await _context.BeginPathAsync();

        //Draw the border
        await _context.SetLineWidthAsync(13);

        await _context.SetStrokeStyleAsync("black"); // border color

        await _context.MoveToAsync(player.Body[0].X, player.Body[0].Y);

        for (int i = 1; i < player.Body.Count(); i++)
        {
            var point = player.Body[i];
            await _context.LineToAsync(point.X, point.Y);
        }

        await _context.StrokeAsync();


        await _context.BeginPathAsync();

        await _context.SetLineWidthAsync(10);
        await _context.SetStrokeStyleAsync(colors[player.ID % 10]);

        await _context.MoveToAsync(player.Body[0].X, player.Body[0].Y);

        for (int i = 1; i < player.Body.Count(); i++)
        {
            var point = player.Body[i];
            await _context.LineToAsync(point.X, point.Y);
        }

        await _context.StrokeAsync();



        Point2D head = player.Body[^1];



        await _context.BeginPathAsync();
        await _context.ArcAsync(head.X, head.Y, 7, 0, 2 * Math.PI);

        // Border
        await _context.SetLineWidthAsync(3);
        await _context.SetStrokeStyleAsync("black");
        await _context.StrokeAsync();

        // Fill
        await _context.SetFillStyleAsync(colors[player.ID % 10]);
        await _context.FillAsync();

        // Name and score 
        await _context.SetFontAsync("bold 14px Arial");
        await _context.SetFillStyleAsync("white");
        await _context.FillTextAsync($"{player.Name}(Score:{player.Score})", head.X + 10, head.Y - 18);
    }


    private async Task DrawExplosion(Point2D deathPosition)
    {
        
        await _context.DrawImageAsync(
            explosionImage,
            deathPosition.X - 50,
            deathPosition.Y - 50,
            100,
            100
        );
        
        
    }


    private async Task DrawPowerup(Powerup powerup)
    {
        if (_context is null || powerup.IsDied)
        {
            return;
        }

        int x = powerup.Location.X;
        int y = powerup.Location.Y;

        //Draw the border of the powerup
        await _context.BeginPathAsync();
        await _context.ArcAsync(x, y, 7, 0, 2 * Math.PI);

        await _context.SetLineWidthAsync(2);
        await _context.SetStrokeStyleAsync("black");
        await _context.StrokeAsync();

        await _context.DrawImageAsync(
            powerImage,
            x - 10,
            y - 10,
            20,
            20
        );

        await _context.StrokeAsync();

    }

    private async Task DrawWall(Wall wall)
    {
        if (_context is null)
        {
            return;
        }



        if (wall.p1.X == wall.p2.X) // Vertical
        {
            float x = wall.p1.X;
            float startY = Math.Min(wall.p1.Y, wall.p2.Y);
            float endY = Math.Max(wall.p1.Y, wall.p2.Y);

            for (float i = startY; i <= endY; i += 25)
            {
                await _context.DrawImageAsync(
                    wallImage,
                    x - 25,
                    i - 25,
                    50,
                    50
                );
            }

        }

        else // Horizontal
        {
            float y = wall.p1.Y;
            float startX = Math.Min(wall.p1.X, wall.p2.X);
            float endX = Math.Max(wall.p1.X, wall.p2.X);

            for (float i = startX; i <= endX; i += 25)
            {
                await _context.DrawImageAsync(
                    wallImage,
                    i - 25,
                    y - 25,
                    50,
                    50
                );
            }

        }

    }



    [JSInvokable]
    public void HandleKeyPress(string key)
    {

        _controller.HandleMovement(key);

    }



}


    